//Buttons

.btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba($white, 0.2);
  padding: 1.1rem;
  padding-left: 2.4rem;
  width: 100%;
  max-width: 35rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
  display: flex;
  gap: 2.8rem;

  &:not(:last-child) {
    margin-bottom: 1.6rem;
  }

  &--mercury.btn--active {
    background-color: $cyan;
  }
  &--venus.btn--active {
    background-color: $yellow;
  }
  &--earth.btn--active {
    background-color: $purple;
  }
  &--mars.btn--active {
    background-color: $orange1;
  }
  &--jupiter.btn--active {
    background-color: $red;
  }
  &--saturn.btn--active {
    background-color: $orange2;
  }
  &--uranus.btn--active {
    background-color: $green;
  }
  &--neptune.btn--active {
    background-color: $blue;
  }

  &:not(.btn--active):hover {
    background-color: rgba($light-grey, 0.5);
  }
}

.btn--active {
  animation: fadeIn 0.3s ease;
}
.btn-number {
  opacity: 0.5;
}
