.planet {
  margin: 0 auto;
  display: grid;
  gap: 3rem;
  width: 100%;
  max-width: 114rem;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 55rem 1fr;
  color: $white;
  position: relative;

  @media (max-width: $tablet) {
    margin-top: 3rem;
    gap: 0;
    grid-template-rows: 40vh 1fr max-content;
  }
  @media (max-width: $phone) {
    margin-top: 0;
  }

  &__picture-box {
    align-self: center;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    height: 100%;

    @media (max-width: $tablet) {
      grid-column: 1 / span 2;
    }
  }

  &__picture {
    max-height: 100%;
    animation: fadeIn 0.3s ease;
    transform: scale(0.92);

    @media (max-width: $large) {
      transform: scale(0.8);
    }
    @media (max-width: $tablet) {
      transform: scale(0.7);
      max-height: 150%;
    }

    &--geology {
      animation: fadeIn 0.3s ease;
      position: absolute;
      height: 19.9rem;
      width: 15.8rem;
      top: 60%;

      @media (max-width: $tablet) {
        height: 13.4rem;
        width: 11.1rem;
        top: 70%;
      }
    }
  }

  &__text {
    width: 100%;
    max-width: 35rem;
    margin-top: 4rem;

    @media (max-width: $tablet) {
      grid-column: 1 / span 2;
      display: flex;
      gap: 4rem;
      align-items: center;
      justify-content: space-around;
      max-width: none;
      margin-top: 2rem;
      padding: 0 2rem;
    }
    @media (max-width: $phone) {
      flex-direction: column;
      text-align: center;
      padding: 0 3.2rem;
    }
  }
  &__description {
    @media (max-width: $tablet) {
      width: 100%;
      max-width: 34rem;
    }
    @media (max-width: $phone) {
      max-width: 100%;
    }
  }

  &__view {
    @media (max-width: $tablet) {
      width: 100%;
      max-width: 28rem;
    }
    @media (max-width: $phone) {
      max-width: 100%;
      display: flex;
      position: absolute;
      top: 0;
    }
  }

  &__source {
    margin: 2.4rem 0;
    display: flex;
    opacity: 0.5;

    @media (max-width: $phone) {
      justify-content: center;
    }
  }

  &__source-link {
    font-weight: 700;
    text-decoration-line: underline;
    margin-left: 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__info-boxes {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0 3.2rem;
    padding-bottom: 2rem;

    @media (max-width: $tablet) {
      grid-row: 3;
    }
    @media (max-width: $phone) {
      flex-direction: column;
      width: 100%;
    }
  }

  &__info-box {
    border: 1px solid rgba($white, 0.2);
    height: 12rem;
    width: 100%;
    max-width: 25.5rem;
    padding: 2rem 2.3rem;

    @media (max-width: $tablet) {
      height: 8.8rem;
      padding: 1.5rem;
    }
    @media (max-width: $phone) {
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__heading {
      opacity: 0.5;
    }
  }
}

.show-on-phone-media {
  display: none;

  @media (max-width: $phone) {
    display: inline-block;
  }
}

.hide-on-phone-media {
  @media (max-width: $phone) {
    display: none;
  }
}
