.navigation {
  padding: 2rem 3.2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba($white, 0.2);
  position: relative;
  z-index: 999;

  @media (max-width: $tablet) {
    flex-direction: column;
  }
  @media (max-width: $phone) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo-box {
    margin-right: auto;

    @media (max-width: $tablet) {
      width: 100%;
      text-align: center;
    }
    @media (max-width: $phone) {
      text-align: left;
    }

    .logo {
      color: $white;
      font-family: 'Antonio', sans-serif;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -1.05px;
      text-transform: uppercase;
    }
  }

  &__btn {
    display: none;
    color: $white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    @media (max-width: $phone) {
      display: block;
    }
  }

  &__planets-list {
    list-style: none;
    display: flex;
    gap: 3.3rem;

    @media (max-width: $tablet) {
      margin-top: 3rem;
    }
    @media (max-width: $phone) {
      margin-top: 0;
      flex-direction: column;
      height: 100vh;
      position: absolute;
      top: 10rem;
      left: 0;
      gap: 0;
      background-color: $dark-blue;
      padding: 0 4rem 0 6rem;
      width: 100%;
      z-index: 999;
      transform: translateX(-50%);
      transition: all 0.3s ease-in;
      opacity: 0;
      pointer-events: none;

      &.show {
        transform: translateX(0%);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__list-item {
    display: inline-block;

    @media (max-width: $phone) {
      padding: 2rem 0;
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      &:not(:last-child) {
        border-bottom: 1px solid rgba($white, 0.1);
      }
    }

    .icon--arrow {
      display: none;
      color: rgba($white, 0.4);

      @media (max-width: $phone) {
        display: inline-block;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $white;
    opacity: 0.75;
    transition: 0.2s ease-in;
    position: relative;

    &:hover,
    &:active {
      opacity: 1;
    }

    &::after {
      content: '';
      top: -3rem;
      left: 0;
      position: absolute;
      width: 0;
      height: 4px;
      z-index: 4;
      visibility: hidden;
      transition: width 0.25s ease-in;

      @media (max-width: $tablet) {
        top: -1.2rem;
      }

      @media (max-width: $phone) {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        visibility: visible;
        top: 50%;
        left: -4rem;
        transform: translateY(-50%);
      }
    }

    &--mercury::after {
      background-color: $cyan;
    }
    &--venus::after {
      background-color: $yellow;
    }
    &--earth::after {
      background-color: $purple;
    }
    &--mars::after {
      background-color: $orange1;
    }
    &--jupiter::after {
      background-color: $red;
    }
    &--saturn::after {
      background-color: $orange2;
    }
    &--uranus::after {
      background-color: $green;
    }
    &--neptune::after {
      background-color: $blue;
    }
  }

  &__link:hover::after {
    visibility: visible;
    width: 100%;

    @media (max-width: $phone) {
      width: 2rem;
    }
  }
}
