$white: #fff;
$dark-blue: #070724;
$dark-grey: #38384f;
$light-grey: #838391;

$cyan: #419ebb;
$yellow: #eda249;
$purple: #6d2ed5;
$orange1: #d14c32;
$orange2: #cd5120;
$red: #d83a34;
$green: #1ec1a2;
$blue: #2d68f0;

