.h1,
.h2,
.h3,
.h4 {
  text-transform: uppercase;
  font-style: normal;
}

.h1 {
  font-family: "Antonio", sans-serif;
  font-size: 7.4rem;
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 60em) {
  .h1 {
    font-size: 6rem;
  }
}

.h2 {
  font-family: "Antonio", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.5px;
}
@media (max-width: 60em) {
  .h2 {
    font-size: 2.4rem;
  }
}

.h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 208.333%;
  letter-spacing: 2.571px;
}

.h4 {
  font-family: "League Spartan", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 2.5rem; /* 227.273% */
  letter-spacing: 1px;
}
@media (max-width: 37.5rem) {
  .h4 {
    font-size: 1.5rem;
  }
}

.paragraph {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 227.273% */
}

.btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.1rem;
  padding-left: 2.4rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.25s ease;
  display: flex;
  gap: 2.8rem;
}
.btn:not(:last-child) {
  margin-bottom: 1.6rem;
}
.btn--mercury.btn--active {
  background-color: #419ebb;
}
.btn--venus.btn--active {
  background-color: #eda249;
}
.btn--earth.btn--active {
  background-color: #6d2ed5;
}
.btn--mars.btn--active {
  background-color: #d14c32;
}
.btn--jupiter.btn--active {
  background-color: #d83a34;
}
.btn--saturn.btn--active {
  background-color: #cd5120;
}
.btn--uranus.btn--active {
  background-color: #1ec1a2;
}
.btn--neptune.btn--active {
  background-color: #2d68f0;
}
.btn:not(.btn--active):hover {
  background-color: rgba(131, 131, 145, 0.5);
}

.btn--active {
  animation: fadeIn 0.3s ease;
}

.btn-number {
  opacity: 0.5;
}

.planet {
  margin: 0 auto;
  display: grid;
  gap: 3rem;
  width: 100%;
  max-width: 114rem;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 55rem 1fr;
  color: #fff;
}
@media (max-width: 60em) {
  .planet {
    margin-top: 3rem;
    gap: 0;
    grid-template-rows: 40vh 1fr max-content;
  }
}
.planet__picture-box {
  align-self: center;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
@media (max-width: 60em) {
  .planet__picture-box {
    grid-column: 1/span 2;
  }
}
.planet__picture {
  max-height: 100%;
  animation: fadeIn 0.3s ease;
  transform: scale(0.92);
}
@media (max-width: 68.75em) {
  .planet__picture {
    transform: scale(0.8);
  }
}
@media (max-width: 60em) {
  .planet__picture {
    transform: scale(0.7);
    max-height: 150%;
  }
}
.planet__picture--geology {
  animation: fadeIn 0.3s ease;
  position: absolute;
  height: 19.9rem;
  width: 15.8rem;
  top: 60%;
}
@media (max-width: 60em) {
  .planet__picture--geology {
    height: 13.4rem;
    width: 11.1rem;
    top: 70%;
  }
}
.planet__text {
  width: 100%;
  max-width: 35rem;
  margin-top: 4rem;
}
@media (max-width: 60em) {
  .planet__text {
    grid-column: 1/span 2;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: space-around;
    max-width: none;
    margin-top: 2rem;
    padding: 0 2rem;
  }
}
@media (max-width: 60em) {
  .planet__description {
    width: 100%;
    max-width: 34rem;
  }
}
@media (max-width: 60em) {
  .planet__view {
    width: 100%;
    max-width: 28rem;
  }
}
.planet__source {
  margin: 2.4rem 0;
  display: flex;
  opacity: 0.5;
}
.planet__source-link {
  font-weight: 700;
  text-decoration-line: underline;
  margin-left: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.planet__info-boxes {
  grid-column: 1/span 2;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 2rem;
}
@media (max-width: 60em) {
  .planet__info-boxes {
    grid-row: 3;
  }
}
.planet__info-box {
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 12rem;
  width: 100%;
  max-width: 25.5rem;
  padding: 2rem 2.3rem;
}
@media (max-width: 60em) {
  .planet__info-box {
    height: 8.8rem;
    padding: 1.5rem;
  }
}
.planet__info-box__heading {
  opacity: 0.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  max-width: 100vw;
  max-height: 100vh;
}
@media (max-width: 42em) {
  html {
    font-size: 56.25%;
  }
}

body {
  max-width: 100vw;
  max-height: 100vh;
  background-color: #070724;
  overflow-x: hidden;
  background-image: url(../../assets/images/background-stars.svg);
  background-size: cover;
}

.navigation {
  padding: 2rem 3.2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  position: relative;
}
@media (max-width: 60em) {
  .navigation {
    flex-direction: column;
  }
}
@media (max-width: 37.5rem) {
  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }
}
.navigation__logo-box {
  margin-right: auto;
}
@media (max-width: 60em) {
  .navigation__logo-box {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 37.5rem) {
  .navigation__logo-box {
    text-align: left;
  }
}
.navigation__logo-box .logo {
  color: #fff;
  font-family: "Antonio", sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.05px;
  text-transform: uppercase;
}
.navigation__btn {
  display: none;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
@media (max-width: 37.5rem) {
  .navigation__btn {
    display: block;
  }
}
.navigation__planets-list {
  list-style: none;
  display: flex;
  gap: 3.3rem;
}
@media (max-width: 60em) {
  .navigation__planets-list {
    margin-top: 3rem;
  }
}
@media (max-width: 37.5rem) {
  .navigation__planets-list {
    margin-top: 0;
    flex-direction: column;
    height: 100vh;
    position: absolute;
    top: 10rem;
    left: 0;
    gap: 0;
    background-color: #070724;
    padding: 0 4rem 0 6rem;
    width: 100%;
    z-index: 999;
    transform: translateX(-50%);
    transition: all 0.3s ease-in;
    opacity: 0;
  }
  .navigation__planets-list.show {
    transform: translateX(0%);
    opacity: 1;
  }
}
.navigation__list-item {
  display: inline-block;
}
@media (max-width: 37.5rem) {
  .navigation__list-item {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .navigation__list-item:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
}
.navigation__list-item .icon--arrow {
  display: none;
  color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 37.5rem) {
  .navigation__list-item .icon--arrow {
    display: inline-block;
  }
}
.navigation__link {
  text-decoration: none;
  color: #fff;
  opacity: 0.75;
  transition: 0.2s ease-in;
  position: relative;
}
.navigation__link:hover, .navigation__link:active {
  opacity: 1;
}
.navigation__link::after {
  content: "";
  top: -3rem;
  left: 0;
  position: absolute;
  width: 0;
  height: 4px;
  z-index: 4;
  visibility: hidden;
  transition: width 0.25s ease-in;
}
@media (max-width: 60em) {
  .navigation__link::after {
    top: -1.2rem;
  }
}
@media (max-width: 37.5rem) {
  .navigation__link::after {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    visibility: visible;
    top: 50%;
    left: -4rem;
    transform: translateY(-50%);
  }
}
.navigation__link--mercury::after {
  background-color: #419ebb;
}
.navigation__link--venus::after {
  background-color: #eda249;
}
.navigation__link--earth::after {
  background-color: #6d2ed5;
}
.navigation__link--mars::after {
  background-color: #d14c32;
}
.navigation__link--jupiter::after {
  background-color: #d83a34;
}
.navigation__link--saturn::after {
  background-color: #cd5120;
}
.navigation__link--uranus::after {
  background-color: #1ec1a2;
}
.navigation__link--neptune::after {
  background-color: #2d68f0;
}
.navigation__link:hover::after {
  visibility: visible;
  width: 100%;
}
@media (max-width: 37.5rem) {
  .navigation__link:hover::after {
    width: 2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
