.h1,
.h2,
.h3,
.h4 {
  text-transform: uppercase;
  font-style: normal;
}

.h1 {
  font-family: "Antonio", sans-serif;
  font-size: 7.4rem;
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.h2 {
  font-family: "Antonio", sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.5px;
}

.h3 {
  font-family: "League Spartan", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 208.333%;
  letter-spacing: 2.571px;
}

.h4 {
  font-family: "League Spartan", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 2.5rem; /* 227.273% */
  letter-spacing: 1px;
}

.paragraph {
  color: #fff;
  font-family: "League Spartan", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem; /* 227.273% */
}

.btn {
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.1rem;
  padding-left: 2.4rem;
  width: 100%;
  max-width: 35rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
  display: flex;
  gap: 2.8rem;
}
.btn:not(:last-child) {
  margin-bottom: 1.6rem;
}
.btn--mercury.btn--active {
  background-color: #419ebb;
}
.btn--venus.btn--active {
  background-color: #eda249;
}
.btn--earth.btn--active {
  background-color: #6d2ed5;
}
.btn--mars.btn--active {
  background-color: #d14c32;
}
.btn--jupiter.btn--active {
  background-color: #d83a34;
}
.btn--saturn.btn--active {
  background-color: #cd5120;
}
.btn--uranus.btn--active {
  background-color: #1ec1a2;
}
.btn--neptune.btn--active {
  background-color: #2d68f0;
}
.btn:not(.btn--active):hover {
  background-color: rgba(131, 131, 145, 0.5);
}

.btn--active {
  animation: fadeIn 0.3s ease;
}

.btn-number {
  opacity: 0.5;
}

.planet {
  margin: 0 auto;
  display: grid;
  width: 100%;
  max-width: 118rem;
  height: 100vh;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 68vh 1fr;
  color: #fff;
  padding: 0 4rem;
}
.planet__picture-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.planet__picture {
  max-height: 95%;
  animation: fadeIn 0.3s ease;
}
.planet__picture--geology {
  animation: fadeIn 0.3s ease;
  position: absolute;
  height: 19.9rem;
  width: 15.8rem;
  top: 60%;
}
.planet__text {
  width: 100%;
  max-width: 35rem;
  margin-top: 4.8rem;
}
.planet__source {
  margin: 2.4rem 0;
  display: flex;
  opacity: 0.5;
}
.planet__source-link {
  font-weight: 700;
  text-decoration-line: underline;
  margin-left: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.planet__info-boxes {
  grid-column: 1/span 2;
  grid-row: 2;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 4rem;
}
.planet__info-box {
  border: 1px solid rgba(255, 255, 255, 0.2);
  height: 12rem;
  width: 100%;
  max-width: 25.5rem;
  padding: 2rem 2.3rem;
}
.planet__info-box__heading {
  opacity: 0.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #070724;
  overflow: hidden;
  background-image: url(../../assets/images/background-stars.svg);
  background-size: cover;
}

.navigation {
  padding: 2rem 3.2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navigation__logo-box {
  margin-right: auto;
}
.navigation__logo-box .logo {
  color: #fff;
  font-family: "Antonio", sans-serif;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.05px;
  text-transform: uppercase;
}
.navigation__planets-list {
  list-style: none;
  display: flex;
  gap: 3.3rem;
}
.navigation__list-item {
  display: inline-block;
}
.navigation__link {
  text-decoration: none;
  color: #fff;
  opacity: 0.75;
  transition: 0.2s ease-in;
  position: relative;
}
.navigation__link:hover, .navigation__link:active {
  opacity: 1;
}
.navigation__link::after {
  content: "";
  top: -3.5rem;
  left: 0;
  position: absolute;
  width: 0;
  height: 6px;
  z-index: 4;
  visibility: hidden;
  transition: width 0.25s ease-in;
}
.navigation__link--mercury::after {
  background-color: #419ebb;
}
.navigation__link--venus::after {
  background-color: #eda249;
}
.navigation__link--earth::after {
  background-color: #6d2ed5;
}
.navigation__link--mars::after {
  background-color: #d14c32;
}
.navigation__link--jupiter::after {
  background-color: #d83a34;
}
.navigation__link--saturn::after {
  background-color: #cd5120;
}
.navigation__link--uranus::after {
  background-color: #1ec1a2;
}
.navigation__link--neptune::after {
  background-color: #2d68f0;
}
.navigation__link:hover::after {
  visibility: visible;
  width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
